################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProductCatalogAPI/bin/Debug/netcoreapp2.0
/ProductCatalogAPI/obj
